In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans

In [41]:
# load in the dataset, specify number of rows: 
slurm = pd.read_csv("/mnt/research/CMSE495-SS24-ICER/slurm_usage/DID_FINAL_SLURM_OCT_2023.csv",delimiter="|")

In [42]:
# drop not needed columns
slurm = slurm.drop(columns=["Unnamed: 0.1","Unnamed: 0"])

In [44]:
print("The size of SLURM dataset is:",slurm.shape)
slurm

The size of SLURM dataset is: (6376308, 26)

,JobID,User,Group,Submit,Start,End,Elapsed,State,Account,AssocID,...,CPUTimeRAW,ReqCPUS,AllocCPUS,ReqMem,MaxRSS,ReqNodes,NNodes,NodeList,ReqTRES,AllocTRES
0,31496544,user_679,group_121,2023-03-21T11:13:45,Unknown,Unknown,00:00:00,PENDING,account_017,assocID_489,...,0,28,0,21000M,NaN,1,1,None assigned,"billing=3192,cpu=28,gres/gpu=4,mem=21000M,node=1",NaN
1,31497932,user_679,group_121,2023-03-21T11:31:18,Unknown,Unknown,00:00:00,PENDING,account_017,assocID_489,...,0,28,0,21000M,NaN,1,1,None assigned,"billing=3192,cpu=28,gres/gpu=4,mem=21000M,node=1",NaN
2,31993628,user_105,group_114,2023-03-22T18:19:12,Unknown,Unknown,00:00:00,PENDING,account_017,assocID_661,...,0,12,0,150G,NaN,1,1,None assigned,"billing=23347,cpu=12,gres/gpu=8,mem=150G,node=1",NaN
3,39087660,user_652,group_054,2023-04-04T13:09:10,Unknown,Unknown,00:00:00,PENDING,account_017,assocID_557,...,0,640,0,20G,NaN,10,10,None assigned,"billing=3112,cpu=640,mem=20G,node=10",NaN
4,59062820,user_188,group_046,2023-05-08T09:58:20,2024-01-01T00:58:57,2024-01-01T00:59:06,00:00:09,COMPLETED,account_017,assocID_676,...,360,40,40,8G,NaN,1,1,skl-029,"billing=1245,cpu=40,mem=8G,node=1","billing=1245,cpu=40,mem=8G,node=1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6376303,99254104,user_178,group_154,2023-10-31T23:59:41,2023-11-01T02:51:56,2023-11-01T02:53:44,00:01:48,COMPLETED,account_012,assocID_393,...,108,1,1,505202M,NaN,1,1,amr-004,"billing=76790,cpu=1,mem=505202M,node=1","billing=76790,cpu=1,mem=505202M,node=1"
6376304,99254108,user_466,group_096,2023-10-31T23:59:45,2023-11-01T01:43:36,2023-11-01T01:45:09,00:01:33,COMPLETED,account_079,assocID_801,...,93,1,1,20G,NaN,1,1,lac-398,"billing=3112,cpu=1,mem=20G,node=1","billing=3112,cpu=1,mem=20G,node=1"
6376305,99254112,user_466,group_096,2023-10-31T23:59:47,2023-11-01T01:43:36,2023-11-01T01:45:58,00:02:22,COMPLETED,account_079,assocID_801,...,142,1,1,20G,NaN,1,1,lac-403,"billing=3112,cpu=1,mem=20G,node=1","billing=3112,cpu=1,mem=20G,node=1"
6376306,99254116,user_466,group_096,2023-10-31T23:59:52,2023-11-01T01:43:36,2023-11-01T01:44:50,00:01:14,COMPLETED,account_079,assocID_801,...,74,1,1,20G,NaN,1,1,lac-426,"billing=3112,cpu=1,mem=20G,node=1","billing=3112,cpu=1,mem=20G,node=1"
6376307,99254124,user_466,group_096,2023-10-31T23:59:54,2023-11-01T01:43:36,2023-11-01T01:44:59,00:01:23,COMPLETED,account_079,assocID_801,...,83,1,1,20G,NaN,1,1,lac-431,"billing=3112,cpu=1,mem=20G,node=1","billing=3112,cpu=1,mem=20G,node=1"

In [45]:
slurm.columns

Index(['JobID', 'User', 'Group', 'Submit', 'Start', 'End', 'Elapsed', 'State',
       'Account', 'AssocID', 'Partition', 'Timelimit', 'UserCPU', 'SystemCPU',
       'TotalCPU', 'CPUTime', 'CPUTimeRAW', 'ReqCPUS', 'AllocCPUS', 'ReqMem',
       'MaxRSS', 'ReqNodes', 'NNodes', 'NodeList', 'ReqTRES', 'AllocTRES'],
      dtype='object')

## Identify ghostUsers

**Not having allocated remomy makes sense since a user can make a huge request and having it not go through resulting in NaN allocation
but didn't understand why there would be NaN ReqTRES and an AllocTRES jobs available. I did more investigation 
and found that only one user_id is the cause of all of that, Users that are doing this: {'user_258'}, 
Number of times allocationTRES was given to a NaN Request: 369**

In [46]:
# only two columns: Resource Requested and Allocation given to each job
slurm[["JobID","ReqTRES","AllocTRES"]]

,JobID,ReqTRES,AllocTRES
0,31496544,"billing=3192,cpu=28,gres/gpu=4,mem=21000M,node=1",NaN
1,31497932,"billing=3192,cpu=28,gres/gpu=4,mem=21000M,node=1",NaN
2,31993628,"billing=23347,cpu=12,gres/gpu=8,mem=150G,node=1",NaN
3,39087660,"billing=3112,cpu=640,mem=20G,node=10",NaN
4,59062820,"billing=1245,cpu=40,mem=8G,node=1","billing=1245,cpu=40,mem=8G,node=1"
...,...,...,...
6376303,99254104,"billing=76790,cpu=1,mem=505202M,node=1","billing=76790,cpu=1,mem=505202M,node=1"
6376304,99254108,"billing=3112,cpu=1,mem=20G,node=1","billing=3112,cpu=1,mem=20G,node=1"
6376305,99254112,"billing=3112,cpu=1,mem=20G,node=1","billing=3112,cpu=1,mem=20G,node=1"
6376306,99254116,"billing=3112,cpu=1,mem=20G,node=1","billing=3112,cpu=1,mem=20G,node=1"
6376307,99254124,"billing=3112,cpu=1,mem=20G,node=1","billing=3112,cpu=1,mem=20G,node=1"

In [49]:
# Number of times allocationTRES was given to a NaN Request
print("Count of NULL Resource requested =  NaN:",len(list(slurm[slurm["ReqTRES"].isnull()]["User"])))
print("Users that are doing this:",set(list(slurm[slurm["ReqTRES"].isnull()]["User"])) )

Count of NULL Resource requested =  NaN: 4202408
Users that are doing this: {'user_258'}

Finding:
<!--  -->
**4,202,408 is number of times allocationTRES was given to a NaN Request by only User: user_258. This is 65% of the SLURM data that dont have ResouceTRS allocated.**

In [50]:
# function to identify users that have AllocTRES populating without ReqTRES: NaN
def identify_ghostUsers(data):
    print("Number of times allocationTRES was given to a NaN Request:",len(list(data[data["ReqTRES"].isnull()]["User"])))
    print("Users that are doing this:",set(list(data[data["ReqTRES"].isnull()]["User"])))


# testing function
identify_ghostUsers(slurm)

Number of times allocationTRES was given to a NaN Request: 4202408
Users that are doing this: {'user_258'}

In [52]:
# crape the entire dataset and get every job from that user, 
# to 1) see how many there are in total and 
# 2) maybe we can look at the timestamps to see if there is any repeatability.

jobs_by_user_258 = slurm[slurm['User']=="user_258"]
jobs_by_user_258

,JobID,User,Group,Submit,Start,End,Elapsed,State,Account,AssocID,...,CPUTimeRAW,ReqCPUS,AllocCPUS,ReqMem,MaxRSS,ReqNodes,NNodes,NodeList,ReqTRES,AllocTRES
202,87461884,user_258,group_010,2023-09-29T21:30:06,2023-09-29T21:30:06,2023-10-01T05:42:37,1-08:12:31,COMPLETED,account_011,assocID_575,...,1855216,16,16,NaN,983172K,1,1,lac-084,NaN,"cpu=16,gres/gpu=1,mem=8G,node=1"
203,87461884,user_258,group_010,2023-09-29T21:30:06,2023-09-29T21:30:06,2023-10-01T05:42:40,1-08:12:34,COMPLETED,account_011,assocID_575,...,7421056,64,64,NaN,0,4,4,"lac-[084-086,193]",NaN,"billing=4980,cpu=64,gres/gpu=4,mem=32G,node=4"
204,87461884,user_258,group_010,2023-09-30T05:08:57,2023-09-30T05:08:57,2023-10-01T05:42:40,1-00:33:43,COMPLETED,account_011,assocID_575,...,4244304,48,48,NaN,4500K,3,3,"lac-[085-086,193]",NaN,"cpu=48,gres/gpu=3,mem=24G,node=3"
206,87461892,user_258,group_010,2023-09-30T00:16:32,2023-09-30T00:16:32,2023-10-01T06:19:40,1-06:03:08,COMPLETED,account_011,assocID_575,...,1731008,16,16,NaN,1076136K,1,1,lac-142,NaN,"cpu=16,gres/gpu=1,mem=8G,node=1"
207,87461892,user_258,group_010,2023-09-30T00:16:32,2023-09-30T00:16:32,2023-10-01T06:19:40,1-06:03:08,COMPLETED,account_011,assocID_575,...,6924032,64,64,NaN,0,4,4,"lac-[142,192,345,349]",NaN,"billing=4980,cpu=64,gres/gpu=4,mem=32G,node=4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6375732,99253828,user_258,group_010,2023-10-31T23:58:33,2023-10-31T23:58:33,2023-11-01T12:17:23,12:18:50,COMPLETED,account_017,assocID_749,...,88660,2,2,NaN,0,2,2,"amr-[250,253]",NaN,"billing=37355,cpu=2,mem=240G,node=2"
6375780,99254020,user_258,group_010,2023-10-31T23:59:11,2023-10-31T23:59:11,2023-11-01T12:03:08,12:03:57,COMPLETED,account_017,assocID_749,...,43437,1,1,NaN,4873744K,1,1,amr-197,NaN,"cpu=1,mem=120G,node=1"
6375781,99254020,user_258,group_010,2023-10-31T23:59:11,2023-10-31T23:59:11,2023-11-01T12:03:13,12:04:02,COMPLETED,account_017,assocID_749,...,86884,2,2,NaN,0,2,2,"amr-[197,218]",NaN,"billing=37355,cpu=2,mem=240G,node=2"
6375799,99254088,user_258,group_010,2023-10-31T23:59:39,2023-10-31T23:59:39,2023-11-01T11:41:15,11:41:36,COMPLETED,account_017,assocID_749,...,42096,1,1,NaN,4040116K,1,1,amr-220,NaN,"cpu=1,mem=120G,node=1"
6375800,99254088,user_258,group_010,2023-10-31T23:59:39,2023-10-31T23:59:39,2023-11-01T11:41:19,11:41:40,COMPLETED,account_017,assocID_749,...,84200,2,2,NaN,0,2,2,"amr-[220,230]",NaN,"billing=37355,cpu=2,mem=240G,node=2"

In [55]:
# jobs_by_user_258.info()
# Loop through each column in the DataFrame
for column in jobs_by_user_258.columns:
    # Count the number of unique entries in each column
    unique_count = jobs_by_user_258[column].nunique()
    # Get the unique entries for the column
    unique_values = jobs_by_user_258[column].unique()
    
    # Print the count and the unique values
    print(f"Column: {column}")
    print(f"Number of unique entries: {unique_count}")
    print(f"Unique values: {unique_values}\n")

Column: JobID
Number of unique entries: 1396246
Unique values: [87461884 87461892 87461900 ... 99253828 99254020 99254088]

Column: User
Number of unique entries: 1
Unique values: ['user_258']

Column: Group
Number of unique entries: 1
Unique values: ['group_010']

Column: Submit
Number of unique entries: 281743
Unique values: ['2023-09-29T21:30:06' '2023-09-30T05:08:57' '2023-09-30T00:16:32' ...
 '2023-10-31T23:58:33' '2023-10-31T23:59:11' '2023-10-31T23:59:39']

Column: Start
Number of unique entries: 281743
Unique values: ['2023-09-29T21:30:06' '2023-09-30T05:08:57' '2023-09-30T00:16:32' ...
 '2023-10-31T23:58:33' '2023-10-31T23:59:11' '2023-10-31T23:59:39']

Column: End
Number of unique entries: 710874
Unique values: ['2023-10-01T05:42:37' '2023-10-01T05:42:40' '2023-10-01T06:19:40' ...
 '2023-11-01T12:17:20' '2023-11-01T12:03:08' '2023-11-01T12:03:13']

Column: Elapsed
Number of unique entries: 94328
Unique values: ['1-08:12:31' '1-08:12:34' '1-00:33:43' ... '20:51:58' '12:03:57'
 '12:04:02']

Column: State
Number of unique entries: 45
Unique values: ['COMPLETED' 'CANCELLED' 'FAILED' 'OUT_OF_MEMORY' 'CANCELLED by 962072'
 'CANCELLED by 6006467' 'CANCELLED by 0' 'CANCELLED by 984240'
 'CANCELLED by 754358' 'CANCELLED by 6109240' 'CANCELLED by 6136381'
 'CANCELLED by 846118' 'CANCELLED by 924730' 'CANCELLED by 6006101'
 'CANCELLED by 6063188' 'CANCELLED by 6123366' 'CANCELLED by 2165'
 'CANCELLED by 2264' 'CANCELLED by 963452' 'CANCELLED by 1000000008'
 'CANCELLED by 6040269' 'CANCELLED by 6008361' 'CANCELLED by 6187704'
 'CANCELLED by 6194099' 'CANCELLED by 6062526' 'CANCELLED by 6055554'
 'CANCELLED by 6187901' 'CANCELLED by 6191082' 'CANCELLED by 831134'
 'CANCELLED by 1040228' 'CANCELLED by 6006460' 'CANCELLED by 6005062'
 'CANCELLED by 1073300' 'CANCELLED by 836665' 'CANCELLED by 768554'
 'CANCELLED by 6123824' 'CANCELLED by 852998' 'CANCELLED by 962201'
 'CANCELLED by 1035122' 'CANCELLED by 833599' 'CANCELLED by 962889'
 'CANCELLED by 1000000092' 'CANCELLED by 6014542' 'CANCELLED by 6186758'
 'CANCELLED by 6182445']

Column: Account
Number of unique entries: 85
Unique values: ['account_011' 'account_067' 'account_056' 'account_017' 'account_013'
 'account_078' 'account_080' 'account_085' 'account_002' 'account_049'
 'account_068' 'account_043' 'account_060' 'account_040' 'account_005'
 'account_022' 'account_058' 'account_019' 'account_054' 'account_066'
 'account_072' 'account_046' 'account_001' 'account_083' 'account_079'
 'account_034' 'account_028' 'account_026' 'account_065' 'account_025'
 'account_015' 'account_035' 'account_010' 'account_012' 'account_021'
 'account_030' 'account_016' 'account_053' 'account_055' 'account_036'
 'account_081' 'account_073' 'account_076' 'account_061' 'account_052'
 'account_037' 'account_038' 'account_006' 'account_082' 'account_059'
 'account_084' 'account_020' 'account_008' 'account_027' 'account_050'
 'account_045' 'account_074' 'account_051' 'account_042' 'account_007'
 'account_047' 'account_041' 'account_057' 'account_070' 'account_062'
 'account_077' 'account_048' 'account_029' 'account_031' 'account_023'
 'account_063' 'account_033' 'account_032' 'account_000' 'account_014'
 'account_039' 'account_075' 'account_071' 'account_003' 'account_004'
 'account_018' 'account_044' 'account_069' 'account_024' 'account_064']

Column: AssocID
Number of unique entries: 811
Unique values: ['assocID_575' 'assocID_024' 'assocID_168' 'assocID_388' 'assocID_685'
 'assocID_093' 'assocID_114' 'assocID_673' 'assocID_788' 'assocID_308'
 'assocID_011' 'assocID_153' 'assocID_391' 'assocID_790' 'assocID_725'
 'assocID_426' 'assocID_338' 'assocID_686' 'assocID_813' 'assocID_373'
 'assocID_342' 'assocID_251' 'assocID_620' 'assocID_434' 'assocID_405'
 'assocID_499' 'assocID_372' 'assocID_226' 'assocID_510' 'assocID_562'
 'assocID_081' 'assocID_237' 'assocID_601' 'assocID_047' 'assocID_772'
 'assocID_467' 'assocID_246' 'assocID_625' 'assocID_634' 'assocID_698'
 'assocID_379' 'assocID_094' 'assocID_623' 'assocID_802' 'assocID_678'
 'assocID_674' 'assocID_492' 'assocID_320' 'assocID_384' 'assocID_424'
 'assocID_491' 'assocID_217' 'assocID_358' 'assocID_759' 'assocID_487'
 'assocID_355' 'assocID_515' 'assocID_171' 'assocID_285' 'assocID_273'
 'assocID_032' 'assocID_350' 'assocID_163' 'assocID_241' 'assocID_589'
 'assocID_457' 'assocID_206' 'assocID_243' 'assocID_494' 'assocID_564'
 'assocID_294' 'assocID_590' 'assocID_210' 'assocID_456' 'assocID_284'
 'assocID_316' 'assocID_595' 'assocID_660' 'assocID_497' 'assocID_213'
 'assocID_762' 'assocID_006' 'assocID_269' 'assocID_714' 'assocID_463'
 'assocID_229' 'assocID_232' 'assocID_127' 'assocID_182' 'assocID_360'
 'assocID_410' 'assocID_393' 'assocID_747' 'assocID_633' 'assocID_692'
 'assocID_726' 'assocID_702' 'assocID_040' 'assocID_584' 'assocID_311'
 'assocID_274' 'assocID_272' 'assocID_007' 'assocID_761' 'assocID_429'
 'assocID_554' 'assocID_459' 'assocID_343' 'assocID_207' 'assocID_009'
 'assocID_677' 'assocID_756' 'assocID_276' 'assocID_767' 'assocID_238'
 'assocID_561' 'assocID_411' 'assocID_681' 'assocID_471' 'assocID_041'
 'assocID_242' 'assocID_768' 'assocID_013' 'assocID_134' 'assocID_542'
 'assocID_186' 'assocID_632' 'assocID_428' 'assocID_528' 'assocID_116'
 'assocID_504' 'assocID_735' 'assocID_036' 'assocID_065' 'assocID_344'
 'assocID_188' 'assocID_270' 'assocID_728' 'assocID_321' 'assocID_353'
 'assocID_524' 'assocID_461' 'assocID_345' 'assocID_599' 'assocID_803'
 'assocID_165' 'assocID_252' 'assocID_523' 'assocID_176' 'assocID_402'
 'assocID_690' 'assocID_097' 'assocID_400' 'assocID_519' 'assocID_566'
 'assocID_028' 'assocID_578' 'assocID_396' 'assocID_729' 'assocID_062'
 'assocID_395' 'assocID_488' 'assocID_486' 'assocID_427' 'assocID_596'
 'assocID_003' 'assocID_760' 'assocID_438' 'assocID_341' 'assocID_508'
 'assocID_286' 'assocID_278' 'assocID_204' 'assocID_340' 'assocID_511'
 'assocID_234' 'assocID_787' 'assocID_095' 'assocID_662' 'assocID_501'
 'assocID_808' 'assocID_571' 'assocID_115' 'assocID_425' 'assocID_626'
 'assocID_532' 'assocID_568' 'assocID_617' 'assocID_530' 'assocID_025'
 'assocID_258' 'assocID_652' 'assocID_385' 'assocID_254' 'assocID_219'
 'assocID_333' 'assocID_147' 'assocID_672' 'assocID_577' 'assocID_496'
 'assocID_020' 'assocID_801' 'assocID_130' 'assocID_695' 'assocID_797'
 'assocID_587' 'assocID_506' 'assocID_711' 'assocID_244' 'assocID_783'
 'assocID_817' 'assocID_113' 'assocID_135' 'assocID_641' 'assocID_521'
 'assocID_301' 'assocID_223' 'assocID_052' 'assocID_671' 'assocID_464'
 'assocID_785' 'assocID_332' 'assocID_266' 'assocID_654' 'assocID_399'
 'assocID_684' 'assocID_045' 'assocID_048' 'assocID_818' 'assocID_448'
 'assocID_446' 'assocID_717' 'assocID_187' 'assocID_139' 'assocID_137'
 'assocID_339' 'assocID_468' 'assocID_653' 'assocID_053' 'assocID_044'
 'assocID_451' 'assocID_694' 'assocID_068' 'assocID_739' 'assocID_437'
 'assocID_198' 'assocID_030' 'assocID_700' 'assocID_794' 'assocID_086'
 'assocID_723' 'assocID_295' 'assocID_450' 'assocID_657' 'assocID_026'
 'assocID_058' 'assocID_185' 'assocID_017' 'assocID_197' 'assocID_592'
 'assocID_008' 'assocID_218' 'assocID_570' 'assocID_014' 'assocID_610'
 'assocID_110' 'assocID_239' 'assocID_313' 'assocID_415' 'assocID_420'
 'assocID_145' 'assocID_180' 'assocID_392' 'assocID_390' 'assocID_682'
 'assocID_329' 'assocID_073' 'assocID_430' 'assocID_091' 'assocID_107'
 'assocID_141' 'assocID_370' 'assocID_731' 'assocID_804' 'assocID_737'
 'assocID_175' 'assocID_516' 'assocID_505' 'assocID_708' 'assocID_493'
 'assocID_111' 'assocID_807' 'assocID_751' 'assocID_500' 'assocID_573'
 'assocID_667' 'assocID_583' 'assocID_791' 'assocID_374' 'assocID_337'
 'assocID_211' 'assocID_705' 'assocID_407' 'assocID_368' 'assocID_357'
 'assocID_192' 'assocID_563' 'assocID_144' 'assocID_327' 'assocID_061'
 'assocID_305' 'assocID_416' 'assocID_709' 'assocID_193' 'assocID_121'
 'assocID_027' 'assocID_619' 'assocID_016' 'assocID_394' 'assocID_222'
 'assocID_200' 'assocID_535' 'assocID_439' 'assocID_150' 'assocID_548'
 'assocID_072' 'assocID_697' 'assocID_476' 'assocID_754' 'assocID_208'
 'assocID_588' 'assocID_750' 'assocID_215' 'assocID_159' 'assocID_335'
 'assocID_177' 'assocID_701' 'assocID_212' 'assocID_039' 'assocID_369'
 'assocID_642' 'assocID_433' 'assocID_096' 'assocID_199' 'assocID_475'
 'assocID_522' 'assocID_436' 'assocID_668' 'assocID_083' 'assocID_099'
 'assocID_262' 'assocID_614' 'assocID_598' 'assocID_098' 'assocID_793'
 'assocID_483' 'assocID_323' 'assocID_101' 'assocID_189' 'assocID_166'
 'assocID_713' 'assocID_811' 'assocID_169' 'assocID_303' 'assocID_129'
 'assocID_043' 'assocID_520' 'assocID_381' 'assocID_537' 'assocID_718'
 'assocID_413' 'assocID_472' 'assocID_449' 'assocID_282' 'assocID_404'
 'assocID_675' 'assocID_445' 'assocID_376' 'assocID_349' 'assocID_502'
 'assocID_512' 'assocID_645' 'assocID_569' 'assocID_546' 'assocID_594'
 'assocID_336' 'assocID_800' 'assocID_132' 'assocID_608' 'assocID_647'
 'assocID_378' 'assocID_363' 'assocID_606' 'assocID_103' 'assocID_550'
 'assocID_079' 'assocID_205' 'assocID_509' 'assocID_356' 'assocID_664'
 'assocID_138' 'assocID_366' 'assocID_447' 'assocID_102' 'assocID_331'
 'assocID_304' 'assocID_733' 'assocID_359' 'assocID_526' 'assocID_352'
 'assocID_398' 'assocID_010' 'assocID_490' 'assocID_019' 'assocID_310'
 'assocID_330' 'assocID_659' 'assocID_527' 'assocID_484' 'assocID_315'
 'assocID_529' 'assocID_080' 'assocID_572' 'assocID_005' 'assocID_706'
 'assocID_021' 'assocID_001' 'assocID_458' 'assocID_607' 'assocID_814'
 'assocID_417' 'assocID_560' 'assocID_162' 'assocID_582' 'assocID_663'
 'assocID_460' 'assocID_136' 'assocID_435' 'assocID_616' 'assocID_228'
 'assocID_470' 'assocID_539' 'assocID_015' 'assocID_541' 'assocID_631'
 'assocID_687' 'assocID_549' 'assocID_503' 'assocID_131' 'assocID_628'
 'assocID_627' 'assocID_649' 'assocID_255' 'assocID_298' 'assocID_545'
 'assocID_466' 'assocID_665' 'assocID_525' 'assocID_558' 'assocID_639'
 'assocID_559' 'assocID_181' 'assocID_033' 'assocID_630' 'assocID_740'
 'assocID_693' 'assocID_317' 'assocID_302' 'assocID_260' 'assocID_023'
 'assocID_591' 'assocID_543' 'assocID_161' 'assocID_257' 'assocID_377'
 'assocID_037' 'assocID_245' 'assocID_611' 'assocID_195' 'assocID_057'
 'assocID_635' 'assocID_170' 'assocID_287' 'assocID_253' 'assocID_443'
 'assocID_248' 'assocID_744' 'assocID_720' 'assocID_283' 'assocID_536'
 'assocID_249' 'assocID_419' 'assocID_196' 'assocID_184' 'assocID_514'
 'assocID_076' 'assocID_806' 'assocID_154' 'assocID_220' 'assocID_441'
 'assocID_621' 'assocID_707' 'assocID_565' 'assocID_059' 'assocID_172'
 'assocID_576' 'assocID_117' 'assocID_440' 'assocID_552' 'assocID_648'
 'assocID_612' 'assocID_090' 'assocID_777' 'assocID_022' 'assocID_789'
 'assocID_300' 'assocID_781' 'assocID_469' 'assocID_495' 'assocID_432'
 'assocID_167' 'assocID_105' 'assocID_235' 'assocID_579' 'assocID_004'
 'assocID_034' 'assocID_629' 'assocID_409' 'assocID_743' 'assocID_406'
 'assocID_299' 'assocID_077' 'assocID_748' 'assocID_122' 'assocID_746'
 'assocID_688' 'assocID_267' 'assocID_799' 'assocID_605' 'assocID_462'
 'assocID_691' 'assocID_312' 'assocID_322' 'assocID_534' 'assocID_012'
 'assocID_666' 'assocID_765' 'assocID_118' 'assocID_477' 'assocID_128'
 'assocID_143' 'assocID_354' 'assocID_375' 'assocID_225' 'assocID_764'
 'assocID_108' 'assocID_481' 'assocID_054' 'assocID_296' 'assocID_324'
 'assocID_051' 'assocID_738' 'assocID_264' 'assocID_422' 'assocID_383'
 'assocID_780' 'assocID_816' 'assocID_637' 'assocID_087' 'assocID_602'
 'assocID_233' 'assocID_656' 'assocID_307' 'assocID_231' 'assocID_805'
 'assocID_281' 'assocID_152' 'assocID_784' 'assocID_418' 'assocID_157'
 'assocID_174' 'assocID_275' 'assocID_120' 'assocID_555' 'assocID_742'
 'assocID_636' 'assocID_085' 'assocID_306' 'assocID_124' 'assocID_088'
 'assocID_123' 'assocID_442' 'assocID_365' 'assocID_031' 'assocID_149'
 'assocID_230' 'assocID_586' 'assocID_689' 'assocID_190' 'assocID_574'
 'assocID_658' 'assocID_089' 'assocID_179' 'assocID_348' 'assocID_346'
 'assocID_615' 'assocID_325' 'assocID_421' 'assocID_736' 'assocID_798'
 'assocID_247' 'assocID_771' 'assocID_194' 'assocID_261' 'assocID_326'
 'assocID_209' 'assocID_297' 'assocID_280' 'assocID_126' 'assocID_815'
 'assocID_224' 'assocID_452' 'assocID_268' 'assocID_609' 'assocID_140'
 'assocID_669' 'assocID_038' 'assocID_683' 'assocID_367' 'assocID_277'
 'assocID_758' 'assocID_518' 'assocID_431' 'assocID_753' 'assocID_710'
 'assocID_347' 'assocID_538' 'assocID_401' 'assocID_084' 'assocID_119'
 'assocID_000' 'assocID_722' 'assocID_201' 'assocID_351' 'assocID_173'
 'assocID_766' 'assocID_769' 'assocID_745' 'assocID_109' 'assocID_412'
 'assocID_721' 'assocID_361' 'assocID_071' 'assocID_533' 'assocID_035'
 'assocID_455' 'assocID_056' 'assocID_078' 'assocID_792' 'assocID_703'
 'assocID_397' 'assocID_727' 'assocID_227' 'assocID_624' 'assocID_279'
 'assocID_250' 'assocID_643' 'assocID_741' 'assocID_655' 'assocID_042'
 'assocID_146' 'assocID_773' 'assocID_556' 'assocID_164' 'assocID_795'
 'assocID_603' 'assocID_730' 'assocID_328' 'assocID_812' 'assocID_106'
 'assocID_478' 'assocID_069' 'assocID_046' 'assocID_063' 'assocID_544'
 'assocID_221' 'assocID_100' 'assocID_465' 'assocID_314' 'assocID_732'
 'assocID_403' 'assocID_757' 'assocID_265' 'assocID_112' 'assocID_380'
 'assocID_133' 'assocID_029' 'assocID_454' 'assocID_778' 'assocID_716'
 'assocID_067' 'assocID_786' 'assocID_567' 'assocID_679' 'assocID_382'
 'assocID_423' 'assocID_142' 'assocID_547' 'assocID_755' 'assocID_581'
 'assocID_613' 'assocID_453' 'assocID_646' 'assocID_049' 'assocID_183'
 'assocID_414' 'assocID_060' 'assocID_638' 'assocID_650' 'assocID_770'
 'assocID_289' 'assocID_362' 'assocID_704' 'assocID_644' 'assocID_479'
 'assocID_600' 'assocID_779' 'assocID_498' 'assocID_082' 'assocID_334'
 'assocID_622' 'assocID_585' 'assocID_263' 'assocID_050' 'assocID_507'
 'assocID_070' 'assocID_444' 'assocID_191' 'assocID_178' 'assocID_240'
 'assocID_203' 'assocID_809' 'assocID_776' 'assocID_724' 'assocID_752'
 'assocID_580' 'assocID_364' 'assocID_734' 'assocID_540' 'assocID_604'
 'assocID_018' 'assocID_216' 'assocID_386' 'assocID_699' 'assocID_148'
 'assocID_774' 'assocID_712' 'assocID_371' 'assocID_531' 'assocID_696'
 'assocID_517' 'assocID_763' 'assocID_309' 'assocID_715' 'assocID_158'
 'assocID_104' 'assocID_293' 'assocID_389' 'assocID_796' 'assocID_155'
 'assocID_782' 'assocID_160' 'assocID_408' 'assocID_551' 'assocID_075'
 'assocID_151' 'assocID_719' 'assocID_292' 'assocID_066' 'assocID_485'
 'assocID_256' 'assocID_593' 'assocID_319' 'assocID_473' 'assocID_156'
 'assocID_055' 'assocID_214' 'assocID_202' 'assocID_002' 'assocID_236'
 'assocID_810' 'assocID_290' 'assocID_271' 'assocID_387' 'assocID_775'
 'assocID_597' 'assocID_651' 'assocID_291' 'assocID_680' 'assocID_288'
 'assocID_482' 'assocID_618' 'assocID_513' 'assocID_480' 'assocID_318'
 'assocID_640' 'assocID_474' 'assocID_553' 'assocID_670' 'assocID_749'
 'assocID_074']

Column: Partition
Number of unique entries: 1
Unique values: ['partitionGroup_050']

Column: Timelimit
Number of unique entries: 0
Unique values: [nan]

Column: UserCPU
Number of unique entries: 762450
Unique values: ['5-04:34:52' '00:00.004' '00:00.674' ... '17:58.333' '14:47.859'
 '13:39.558']

Column: SystemCPU
Number of unique entries: 360603
Unique values: ['04:15:15' '00:00.001' '00:03.317' ... '05:29.300' '11:42.826'
 '10:55.620']

Column: TotalCPU
Number of unique entries: 776981
Unique values: ['5-08:50:08' '00:00.006' '00:03.991' ... '22:56.790' '18:45.519'
 '17:31.694']

Column: CPUTime
Number of unique entries: 136305
Unique values: ['21-11:20:16' '85-21:24:16' '49-02:58:24' ... '1-18:23:48' '12:18:47'
 '12:03:57']

Column: CPUTimeRAW
Number of unique entries: 136305
Unique values: [1855216 7421056 4244304 ...  152628   44327   43437]

Column: ReqCPUS
Number of unique entries: 202
Unique values: [  16   64   48    2  128    1    4   20   32    3   50   25   60  180
  100   26   78   27   13   96   10   40  240   12   28    6   36   19
  500   15  160  120   24    8   30   22  123  512   81   79  122    9
   80    5  300   11    7   18  256   31   21   17   14   23  150   45
   38   66   70   58   75   39   37   77  200  192   51  125  250  103
  817  110   71  400  127   34  372  509  461  511  390   59  453   35
  508   72  328   63   83   74   49  224  320  480  389  510   98  414
  429  501  175  121   56   84  391  489  387  464   33  112   29   67
  412  492   90  432   65  115  397   57   95  417   43  484  360  448
  469  494  117  440  474  504  502  485  145   73  439  455  462  449
  499  507  147   54  202  254  176  242  161  133  216  134  243  153
  211  135  207  255  197  208  166  105  151   91  421   46  196  384
  428  188  376  108   92  124  253  228  252  238 1000   55  221  165
   44   76  116   99   41   85  272  268   68  201  350   94  154  140
  896  280  392  396  380  195]

Column: AllocCPUS
Number of unique entries: 202
Unique values: [  16   64   48    2  128    1    4   20   32    3   50   25   60  180
  100   26   78   27   13   96   10   40  240   12   28    6   36   19
  500   15  160  120   24    8   30   22  123  512   81   79  122    9
   80    5  300   11    7   18  256   31   21   17   14   23  150   45
   38   66   70   58   75   39   37   77  200  192   51  125  250  103
  817  110   71  400  127   34  372  509  461  511  390   59  453   35
  508   72  328   63   83   74   49  224  320  480  389  510   98  414
  429  501  175  121   56   84  391  489  387  464   33  112   29   67
  412  492   90  432   65  115  397   57   95  417   43  484  360  448
  469  494  117  440  474  504  502  485  145   73  439  455  462  449
  499  507  147   54  202  254  176  242  161  133  216  134  243  153
  211  135  207  255  197  208  166  105  151   91  421   46  196  384
  428  188  376  108   92  124  253  228  252  238 1000   55  221  165
   44   76  116   99   41   85  272  268   68  201  350   94  154  140
  896  280  392  396  380  195]

Column: ReqMem
Number of unique entries: 0
Unique values: [nan]

Column: MaxRSS
Number of unique entries: 571016
Unique values: ['983172K' '0' '4500K' ... '15564064K' '4909612K' '4040116K']

Column: ReqNodes
Number of unique entries: 74
Unique values: [  1   4   3   2   6  12  10  18   5   8  63  13  35  27  53   7  16   9
  22  72  17  40  25  31  14  29  34  36  15  21  44  43  42  26  61  11
  23  24  47  20  28  19  32  45  59  48  37  38  52  41  30  33  58  49
  46  54  51  39  64  67 100 187 191 190  71  70  56  68  62  65  50  55
  57  60]

Column: NNodes
Number of unique entries: 74
Unique values: [  1   4   3   2   6  12  10  18   5   8  63  13  35  27  53   7  16   9
  22  72  17  40  25  31  14  29  34  36  15  21  44  43  42  26  61  11
  23  24  47  20  28  19  32  45  59  48  37  38  52  41  30  33  58  49
  46  54  51  39  64  67 100 187 191 190  71  70  56  68  62  65  50  55
  57  60]

Column: NodeList
Number of unique entries: 7094
Unique values: ['lac-084' 'lac-[084-086,193]' 'lac-[085-086,193]' ... 'amr-[250,253]'
 'amr-[197,218]' 'amr-[220,230]']

Column: ReqTRES
Number of unique entries: 0
Unique values: [nan]

Column: AllocTRES
Number of unique entries: 4638
Unique values: ['cpu=16,gres/gpu=1,mem=8G,node=1'
 'billing=4980,cpu=64,gres/gpu=4,mem=32G,node=4'
 'cpu=48,gres/gpu=3,mem=24G,node=3' ...
 'cpu=24,gres/gpu=6,mem=384G,node=2' 'cpu=26,mem=26G,node=1'
 'billing=37355,cpu=2,mem=240G,node=2']

In [57]:
# df["underutilizerCPUS"] = df['AllocCPUS'] - df['ReqCPUS']
# df["underutilizerNodes"] = df['NNodes'] - df['ReqNodes']
# df

In [58]:
def time_to_int(x):
    """
    Breaks up SLURM timestamps to a list of integers

    args:
        x (str) - string of time in 'YYYY-MM-DDTHH:MinMin:SS'
    
    returns:
        list - contains integer values of year, month, day
                hours, minutes and seconds in that order
    """
    year = x[0:4]
    month = x[5:7]
    day = x[8:10]
    hr = x[11:13]
    mins = x[14:16]
    sec = x[17:19]

    return [int(year), int(month), int(day), int(hr), int(mins), int(sec)]

def elapsed_to_secs(x):
    """
    Breaks up SLURM elapsed column to seconds

    args:
        x = string of time in 'YYYY-MM-DDTHH:MinMin:SS'
    
    returns:
        seconds (int) - number seconds elapsed since start of job
    """
    
    hr = int(x[0:2])
    mins = int(x[3:5])
    sec = int(x[6:8])
    
    return hr*3600 + mins*60 + sec

# change date columns types and extract time
jobs_by_user_258["Submit"] = jobs_by_user_258["Submit"]